{% extends "base.html" %}
{% block contents %}
  <div class="row mt-5">
    <div class="col-12 text-center">
      <h1>글쓰기</h1>
    </div>
  </div> 
  <div class="row mt-5">
    <div class="col-12">
      <form method="POST" action=".">
        <div class="form-group">
          <label for="title">제목</label>
          <input class="form-control" readonly id="title" value="{{board.title}}"/>
          <label for="contents">내용</label>
          
          <textarea  class="form-control" readonly>{{board.contents}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">돌아가기</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

